@model IEnumerable<NegocieOnline.AppMVC.ViewModels.CepViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.logradouro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.complemento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.localidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ibge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ddd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.siafi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.logradouro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.complemento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.localidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ibge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ddd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.siafi)
        </td>
        <td>
            @Html.ActionLink("Edit", "", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "", new { id=item.Id })
        </td>
    </tr>
}

</table>
